# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.MethodCallCommand.iml
# Datasource local storage ignored files
/../../../../../../../:\Programming\C#\MethodCallCommand\.idea\.idea.MethodCallCommand\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
