# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ModTemplateValheim.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Programming\GitHub\ModTemplateValheim\.idea\.idea.ModTemplateValheim\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
